force-app/main/default/flows/CQ_NN_Nonconformance_After_CreateUpdate_RT_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Check_Incident_Type</name>
        <label>Check Incident Type</label>
        <locationX>534</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Incident_Type_equals_Quality_Incident</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CQ_NN_Incident_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quality Incident</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Severity_Level</targetReference>
            </connector>
            <label>Incident Type equals Quality Incident</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Severity_Level</name>
        <label>Check Severity Level</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Severity_Level_is_Negligible_or_Light</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CQ_NN_Severity_Level__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Negligible</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CQ_NN_Severity_Level__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Light</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Negligible_Light_Severity_Assignments</targetReference>
            </connector>
            <label>Severity Level is Negligible or Light</label>
        </rules>
        <rules>
            <name>Severity_Level_is_Serious_Major_or_Catastrophic</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CQ_NN_Severity_Level__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Serious</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CQ_NN_Severity_Level__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Major</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CQ_NN_Severity_Level__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Catastrophic</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Serious_Major_Catastrophic_Severity_Assignments</targetReference>
            </connector>
            <label>Severity Level is Serious, Major or Catastrophic</label>
        </rules>
    </decisions>
    <description>Assigning and updating values on Nonconformance object</description>
    <environments>Default</environments>
    <formulas>
        <name>addDays30</name>
        <dataType>Date</dataType>
        <expression>TODAY()+30</expression>
    </formulas>
    <formulas>
        <name>addDays7</name>
        <dataType>Date</dataType>
        <expression>TODAY()+7</expression>
    </formulas>
    <interviewLabel>CQ_NN_Nonconformance_After_CreateUpdate_RT_Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CQ NN Nonconformance After CreateUpdate RT Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Negligible_Light_Severity_Assignments</name>
        <label>Negligible/Light Severity Assignments</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>CQ_NN_Closure_Approval_Required__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CQ_NN_Closure_Approver__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>compliancequest__Containment_Required__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>compliancequest__Due_Date_Containment__c</field>
            <value>
                <elementReference>addDays7</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>compliancequest__Due_Date_Investigation__c</field>
            <value>
                <elementReference>addDays30</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>compliancequest__Investigation_Approval__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>compliancequest__Investigation_Required__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Serious_Major_Catastrophic_Severity_Assignments</name>
        <label>Serious/Major/Catastrophic Severity Assignments</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>CQ_NN_Closure_Approval_Required__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CQ_NN_Closure_Approver__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>compliancequest__Containment_Required__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>compliancequest__Due_Date_Containment__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>compliancequest__Due_Date_Investigation__c</field>
            <value>
                <elementReference>addDays30</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>compliancequest__Investigation_Approval__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>compliancequest__Investigation_Required__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>408</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Incident_Type</targetReference>
        </connector>
        <object>compliancequest__SQX_Nonconformance__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>IncidentType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.CQ_NN_Incident_Type__c</elementReference>
        </value>
    </variables>
</Flow>
