force-app/main/default/flows/CQUI_NN_Update_Target_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assignment_to_outrecord</name>
        <label>Assignment to outrecord</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>OutRecord.CQ_NN_Target_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InRecord.CQ_NN_Target_Date__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>update_date</name>
        <label>update date</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>InRecord.CQ_NN_Target_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SetDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_to_outrecord</targetReference>
        </connector>
    </assignments>
    <description>To auto populate the Target date in field</description>
    <environments>Default</environments>
    <formulas>
        <name>SetDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()+10</expression>
    </formulas>
    <interviewLabel>CQUI NN Update Target Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CQUI NN Update Target Date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>update_date</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>InRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CQ_NN_SQX_Restaurant__c</objectType>
    </variables>
    <variables>
        <name>OutRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>CQ_NN_SQX_Restaurant__c</objectType>
    </variables>
</Flow>
